.container {
  @apply flex
    max-w-5xl
    mx-auto
    flex-col
    items-center
    justify-center
    p-4
    min-h-screen
    text-gray-900;
}

.wrapper {
  @apply max-w-xl
    w-full;
}

.title {
  @apply text-6xl
    font-bold
    text-center
    mb-8;
}

.textarea {
  @apply w-full
    font-mono
    text-sm
    rounded-md
    text-gray-800
    border
    border-gray-300
    shadow-sm
    focus:outline-none
    focus:border-gray-800
    focus:ring-black
    p-2
    my-2;
}

.button {
  @apply w-full
    bg-black
    rounded-xl
    text-white
    font-medium
    px-4
    py-2
    hover:bg-black/80
    disabled:bg-black/50;
}

.message {
  @apply flex
    flex-col
    p-4
    shadow-md
    rounded-2xl
    border
    border-gray-100
    hover:bg-gray-50
    cursor-copy;
}

.message p {
  @apply font-mono
    font-semibold
    text-center
    bg-gradient-to-tr
    from-gradient-from
    to-gradient-to
    bg-clip-text
    opacity-90;

  -webkit-text-fill-color: transparent;
}
